
<footer>
    <div class="footerWrapperFirst"> 
        <ul>
            <li><h3>Contact the publisher</h3></li>
            <li><a href="">{{site.email}}</a></li>
            <li><a href="">{{site.phone}}</a></li>
        </ul>
        <ul>
            <li><h3>Explore</h3></li>
            <li><a href="">About</a></li>
            <li><a href="">Membership</a></li>
        </ul>
        <ul>
            <li><h3>Headquarter</h3></li>
            <li><a href="">{{site.adress}}</a></li>
            <li><a href="">{{site.post}}</a></li>
        </ul>
        <ul>
            <li><h3>Connections</h3></li>
            <li><a href="https://www.instagram.com/adriannoren07">
                <img src="{{site.baseurl}}/assets/img/instagram.png" alt="Instagram logo">
            </a>
            </li>
            <li><a href="https://www.facebook.com/Sannegardenspizzeria">
                <img src="{{site.baseurl}}/assets/img/facebook.png" alt="Instagram logo">
            </a>
            </li>
            <li>
                <a href="https://www.youtube.com/watch?v=CvF5-1JsPj4">
                <img src="{{site.baseurl}}/assets/img/youtube.png" alt="Instagram logo">
            </a>
            </li>
            <li><a href="https://x.com/tesla?">
                <img src="{{site.baseurl}}/assets/img/twitter.png" alt="Instagram logo">
            </a>
            </li>
        </ul>
    </div>
    <div class="footerWrapperSecond">
        <p>{{site.footerinfo}}</p>
    <p>Subscribe Now</p>
</div>
</footer>
</body>
</html>