<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{site.title}}</title>
    <link rel="stylesheet" href="{{site.baseurl}}/style.css">
</head>
<body>
    <header>
        <div class="topTransparent">
            <h1>{{site.title}}</h1>
            <div >
                <ul>
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Articles</a>
                    </li>
                    <li>
                        <a href="#">New Posts</a>
                    </li>
                    <li>
                        <a href="#">|</a>
                    </li>
                    <li><a href="https://www.instagram.com/adriannoren07">
                        <img src="{{site.baseurl}}/assets/img/instagram.png" alt="Instagram logo">
                    </a>
                    </li>
                    <li><a href="https://www.facebook.com/Sannegardenspizzeria">
                        <img src="{{site.baseurl}}/assets/img/facebook.png" alt="Instagram logo">
                    </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/watch?v=CvF5-1JsPj4">
                        <img src="{{site.baseurl}}/assets/img/youtube.png" alt="Instagram logo">
                    </a>
                    </li>
                    <li><a href="https://x.com/tesla?">
                        <img src="{{site.baseurl}}/assets/img/twitter.png" alt="Instagram logo">
                    </a>
                    </li>
                </ul>
            </div>
        </div>
        
        
        <!--<img class="bannerImg" src="/assets/img/sitebanner.jpg" alt="#"> -->
        <div class="banner">   
            <h2>{{site.basetitle}}</h2>
            <p>{{site.description}}</p></div>
        </div>
    </header>

    