
 <p>Latest Posts</p>
<div class="mainNavDiv">
 <ul>
    <li><a href="#">Fun</a></li>
    <li><a href="#">Political</a></li>
    <li><a href="#">Scary</a></li>
    <li><a href="#">Celeberities</a></li>
 </ul>
</div>
</div>
 <div class="postGrid">

    <div> <a href=""><img class="coverimg" src="assets/img/donaldTrump.jpg" alt=""></a> <div class="button"><a href="">Fun</a> </div> <a class="postDate" href="">08.08.2021</a> <p class="headLine">Itaque earum rerum hic tenetur
        a sapiente delectus</p> <p class="postDescription">Sed commodo iaculis nibh, non venenatis est fermentum.
        Nam molestie, dolor non faucibus ornare, diam 
        libero dictum odio, et facilisis diam augue a metus.</p></div>
    <div class="singlePostDiv"> <a href=""><img class="coverimg" src="assets/img/elonMusk.jpg" alt=""></a><div class="button"><a href="">Adventure</a> </div>  <a class="postDate" href="">08.08.2021</a> <p class="headLine">Itaque earum rerum hic tenetur
      a sapiente delectus</p> <p class="postDescription">Sed commodo iaculis nibh, non venenatis est fermentum.
         Nam molestie, dolor non faucibus ornare, diam 
         libero dictum odio, et facilisis diam augue a metus.</p></div>
    <div class="singlePostDiv"> <a href=""><img class="coverimg" src="assets/img/elonMusk.jpg" alt=""></a><div class="button"><a href="">Educational</a></div>   <a class="postDate" href="">08.08.2021</a> <p class="headLine">Itaque earum rerum hic tenetur
      a sapiente delectus</p> <p class="postDescription">Sed commodo iaculis nibh, non venenatis est fermentum.
         Nam molestie, dolor non faucibus ornare, diam 
         libero dictum odio, et facilisis diam augue a metus.</p></div>
    <div class="singlePostDiv"> <a href=""><img class="coverimg" src="assets/img/donaldTrump.jpg" alt=""></a><div class="button"> <a href="">Scary</a></div>   <a class="postDate" href="">08.08.2021</a> <p class="headLine">Itaque earum rerum hic tenetur
      a sapiente delectus</p> <p class="postDescription">Sed commodo iaculis nibh, non venenatis est fermentum.
         Nam molestie, dolor non faucibus ornare, diam 
         libero dictum odio, et facilisis diam augue a metus.</p></div>
    <div class="singlePostDiv" ><a href=""><img class="coverimg" src="assets/img/donaldTrump.jpg" alt=""></a><div class="button"><a href="">Adventure</a> </div>  <a class="postDate" href="">08.08.2021</a> <p class="headLine">Itaque earum rerum hic tenetur
      a sapiente delectus</p> <p class="postDescription">Sed commodo iaculis nibh, non venenatis est fermentum.
         Nam molestie, dolor non faucibus ornare, diam 
         libero dictum odio, et facilisis diam augue a metus.</p></div>
    <div class="singlePostDiv"><a href=""><img class="coverimg" src="assets/img/donaldTrump.jpg" alt=""></a><div class="button"><a href="">Scary</a></div>   <a class="postDate" href="">08.08.2021</a> <p class="headLine">Itaque earum rerum hic tenetur
      a sapiente delectus</p> <p class="postDescription">Sed commodo iaculis nibh, non venenatis est fermentum.
        Nam molestie, dolor non faucibus ornare, diam 
        libero dictum odio, et facilisis diam augue a metus.</p></div>
    <div class="singlePostDiv"><a href=""><img class="coverimg" src="assets/img/donaldTrump.jpg" alt=""></a><div class="button"> <a href="">Adventure</a></div>  <a class="postDate" href="">08.08.2021</a> <p class="headLine">Itaque earum rerum hic tenetur
      a sapiente delectus</p> <p class="postDescription">Sed commodo iaculis nibh, non venenatis est fermentum.
         Nam molestie, dolor non faucibus ornare, diam 
         libero dictum odio, et facilisis diam augue a metus.</p></div>
    <div class="singlePostDiv"><a href=""><img class="coverimg" src="assets/img/donaldTrump.jpg" alt=""></a><div class="button"><a href="">Educational</a></div>   <a class="postDate" href="">08.08.2021</a> <p class="headLine">Itaque earum rerum hic tenetur
      a sapiente delectus</p> <p class="postDescription">Sed commodo iaculis nibh, non venenatis est fermentum.
         Nam molestie, dolor non faucibus ornare, diam 
         libero dictum odio, et facilisis diam augue a metus.</p></div>



