$bgColor: #f7f7f7;
$text-color: #E5E5E5;
$text-color-active: #FFFFFF;
$textMain-color-active: #D4A373;
$text-font: "Lora", serif;
$footerFirst-color: #212529;
$footerSecond-color: #343A40;
$postDate-color: #6C757D;
$postTitle-color:#495057;
$postAuthor-color: black;